<h1>Artist List</h1>
<div class="container">
  <h3>
    <div id="search-box"><%= form_tag artists_path, method: :get do %>
      <%= search_field_tag(:artist_search, params[:artist_search], placeholder:     "Search by Artist Name",) %>
      <% end %>
    </div>
</div>
<div class="artistindex">
  <div class="container">
    <div class="image-gallery">
      <% @artists.each do |artist| %>
        <h2><%= link_to "#{artist.name}", artist_path(artist) %><br></h2>
        <h3><img src="<%= artist.img_url %>" width="100" height="100"></h3>
      <% end %>
    </div>
  </div>
</div>
