
<h1>Artist List</h1>

<div class="container">
<div id="search-box"><%= form_tag artists_path, method: :get do %>
  <%= search_field_tag(
      :artist_search,
      params[:artist_search],
      placeholder: "Search by Artist Name",
      ) %>
<% end %></div></div>

<div class="container">

<% @artists.each do |artist| %>
<%= link_to "#{artist.name}", artist_path(artist) %><br>
<div class="image-gallery"><%= image_tag artist.img_url  %></div>
<% end %>
</div>
