<h1>Sign up for special offers, updates and be the first to try Granudo once we launch!</h1>

<h4>We promise we won't send you a ton of spam emails. Only important stuff aka offers/specials </h4>

<%= render 'form' %>

<a href="/">Return to home page</a>
