<<<<<<< HEAD
<h1>Edit <%= @venue.name %> Profile</h1>

<%= render 'form' %>

<a href="/venues">Cancel</a>
=======
<%= render partial: './static/toolbar' %>
>>>>>>> aa3d950a952b7babcacbd9dd6cba5d7598a83f1f
