<%= render partial: './static/toolbar' %>
<h1>Venue List</h1>

<%= form_tag venues_path, method: :get do %>
  <%= search_field_tag(
      :venue_search,
      params[:venue_search],
      placeholder: "Search by Venue Name",
      ) %>
<% end %><br>

<% @venues.each do |venue| %>
<%= link_to "#{venue.name}", venue_path(venue) %><br>
<% end %>
