<h1>Sign up to be the first to try Granudo once we launch!</h1>

<h3>Increase profitablity and increase guest satisfaction</h3>
<h4>We promise we won't send you a ton of spam emails. Only important stuff aka offers/specials </h4>

<%= render 'form' %>

<a href="/">Return to home page</a>
