

<h3>WHAT TIME DO SHOWS START?</h3>
Please check our calendar for exact start times. Traditionally, doors open 1 hour before scheduled start time.<br>

<h3>WHERE SHOULD I PURCHASE GRANUDO TICKETS?</h3>
The best place to purchase tickets is at our website www.electricfactory.info or in person at our box office. There is never a service charge for cash purchases at our box office. We also accept MasterCard, Visa, & Discover. We do not accept American Express. Ticketmaster is our official ticket retailer. Buy tickets online by visiting www.ticketmaster.com or over the phone by calling 1-800-745-3000. Please note the Granudo cannot troubleshoot any issues with tickets purchased outside of Ticketmaster.com. It is best not to purchase tickets from outsider ticketing agencies unless they are directly affiliated with the Artist.

<h3>WHAT ARE YOUR BOX OFFICE HOURS?</h3><br>
Our box office is open Monday through Saturday from 12pm to 6pm, and we open at 10am on Fridays. We will remain open on show days until the performer takes the stage. You’ll find the box office conveniently located next to the entrance of the venue at 421 N. 7th Street.<br>

<h3>WHAT IS GRANUDO OUTDOORS?</h3><br>
Granudo Outdoor Stage will continue to provide fans the amazing Granudo club experience, with upgraded amenities that the summer concert go-er craves! Complete with outdoor refreshments, multiple vendors, upgraded food stands, state of the art production, plus an indoor lounge where fans can relax and enjoy additional live entertainment, Granudo Outdoor Stage will continue to provide unique, outdoor concert enjoyment, right in the heart of Philly! So enter from the same location you always have and follow the crowd to the front of the stage.<br>

<h3>IS GRANUDO SEATED?</h3><br>
Granudo is a General Admission standing Venue. The reference to section, row and seat numbers on the tickets are only a method of accounting. On the off chance we do a seated show, it will be specifically listed as such.<br>

<h3>IS YOUR VENUE ALL AGES?</h3></h3>
Unless otherwise noted, all shows at the Granudo are All Ages. We do however have a limited amount of 18+ and 21+ shows; in this case the age limit will be displayed on the main page directly next to the concert time, as well as on the individual event page itself. For any 18+ or 21+ events, ticket holders must bring either a valid photo driver's license, photo state ID card, photo armed forces ID or a photo passport. Everyone who enters Granudo must have a ticket regardless of age.

<h3>WHAT DO I NEED TO PICK UP MY TICKETS AT WILL CALL?</h3><br>
We require a valid identification to pick up tickets at our box office. Having your Ticketmaster order number is also helpful. And lastly, it is important to know how you acquired your tickets. It helps the box office to know what website or company your tickets came from.<br>

<h3>WHAT IF I HAVE AN E-TICKET?</h3><br>
If you chose E-ticket as your shipping option please present your “Print-At-Home” paper ticket or “Mobile” QR code ticket at the door to be scanned. Barcodes as well as QR codes can be scanned from your phone.<br>

<h3>CAN I CHANGE THE NAME ON THE TICKET ORDER?</h3><br>
All changes for ticket pick ups must be done through the entity you purchased through.<br>

<h3>DOES GRANUDO HAVE A BAR?</h3><br>
Yes we do. For those who would like to enter the bar area you must be 21+ and have Valid Photo identification with you.

<h3>DOES GRANUDO SERVE FOOD?</h3><br>
Absolutely! Be sure to check out our full menu of Burritos, Cheese Steaks, Hoagies, Pizza and more!

<h3>DO YOU HAVE A SMOKING SECTION?</h3><br>
The City of Philadelphia banned smoking indoors at public buildings. Patrons are allowed to smoke in our outdoor smoking section.

<h3>DO YOU HAVE A COAT CHECK?</h3><br>
Yes, coat check is available. It’s located to the left as you enter at the end of the concession stand. There are also a very limited number of lockers available to those with backpacks.

<h3>IS PARKING AVAILABLE?</h3><br>
There are two independently operated parking lots adjacent to Granudo. There are several other neighborhood parking lots as well as metered street parking within walking distance. Granudo does not own or operate any parking lots.
