<div>
  <h1>Welcome to Granudo!</h1>

  <h2>
    Sign up and take control of your art and feel the freedom.
  </h2>


  <h2><%= link_to "Artist Login", artist_login_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Venue Login", venue_login_path, class: "btn btn-lg btn-primary" %></h2>

</div>
