<%= render partial: 'toolbar' %>

  <h1>Welcome to Granudo! </h1>

  <h3>Sign up and take control of your art and feel the freedom.</h3>




  <%= link_to "Artist Log out", artist_logout_path, method: :delete%>
  <%= link_to "Venue Log out", venue_logout_path, method: :delete%>



<%= render partial: 'toolbar' %>
